// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

/******************alerts section */
#alertsContainer{
    position: fixed;
    z-index : 10000000000;
    left : 10px;
    bottom : 10px;
    width : 300px;
}
#searchSection{
    width : 100%;
}

// Variables
@import 'variables';
@import 'sidebar';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
